
.checkout-header .header-content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 0px 30px;
    margin-left: auto;
    margin-right: auto;
}
.checkout-header{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 60px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    
    z-index: 1000;
}
.left-part{
    width : 150px;
    display : flex;
    align-items: center;
}
.left-part .logo1{
    width : 70%;
}
.left-part .logo2{
    display : none;
}
@media(max-width:575px){
    .left-part{
        width : auto;
    }
    .left-part .logo1{
        display: none;
    }
    .left-part .logo2{
        display: inline-block;
        height : 35px;
    }
}

.middle-part{
    flex : 1;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
}
.checkout-text,.checkout-text a{
    font-size: 28px;
    font-weight: 700;
}
@media (max-width: 1000px){
    .checkout-text,.checkout-text a{
    font-size: 20px;
}
}
@media (max-width: 575px){
   .checkout-text,.checkout-text a {
    font-size: 18px;
}
}
.checkout-text a{
    color: rgb(0, 113, 133);
    text-decoration: none;
    cursor: pointer;
}
.right-part{
    width : 150px;
    display : flex;
    align-items: center;
    justify-content: end;   
}

