.checkout-header {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
}

.left-part {
  width: 150px;
  display: flex;
  align-items: center;
}

.logo1 {
  width: 100px;
  margin-top: 12px;
}

.logo2 {
  display: none;
}

/* Tablet responsive */
@media (max-width: 1000px) {
  .left-part {
    width: 150px;
  }
  
  .right-part {
    width: auto;
  }
}

/* Mobile responsive */
@media (max-width: 575px) {
  .left-part {
    width: auto;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }

  .right-part {
    width: 30px;
  }
}

.middle-part {
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.checkout-text,
.checkout-text a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.checkout-text a{
    color :  rgb(0, 113, 133);
}

@media (max-width: 1000px) {
  .middle-part {
    
    margin-right: 60px;
  }

  .checkout-text,
  .checkout-text a {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .middle-part {
    margin-right: 5px;
  }

  .checkout-text,
  .checkout-text a {
    font-size: 18px;
  }
}

.right-part {
  text-align: right;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .right-part {
    width: auto;
  }
}

/* Hide right section (cart items) on small screens during scroll */
@media (max-width: 575px) {
  .right-part {
    width: 30px;
  }
}