.main{
    max-width: 1100px;
    padding : 0px 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index : 0;
  
}
.page-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}
.checkout-grid{
    display : grid;
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
    /*using for stretching vertically*/
    align-items: start;
}


@media(max-width:1000px){
    .main{
        max-width: 500px;
    }
    .checkout-grid{
        grid-template-columns: 1fr;
    }
     .payment-summary{
        margin-bottom: 20px;
        grid-row : 1;
    }
    
}

.payment-summary{
    display: flex;
    flex-direction: column;
    border : 1px solid rgb(222, 222, 222);
    padding : 20px;
    border-radius: 8px; 
}
.ps-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}
.ps-row{
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 20px;
    margin-bottom : 10px;
    font-size:17px;
}
.payment-summary>div:nth-child(3){
    display : flex;
    align-items: center;
    margin-bottom: 18px;
}
.payment-summary>div:nth-child(3)>div:last-child{ 
    border-bottom: 1px solid rgb(222, 222, 222);
}
.payment-summary>div:nth-child(5){ 
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-bottom: 9px;
    margin-bottom: 15px;
}
.payment-summary>div:nth-child(6){ 
    font-size: 20px;
    font-weight: 700;
    margin-bottom : 30px;
    color : rgb(177, 39, 4);
}
.payment-summary>button{
    height : 50px;
    font-size: 15px;
    border-radius: 8px;
    border : none;
    background-color: rgb(255, 216, 20);
}

.product-summary{
    display : flex;
    flex-direction: column;
    border : 1px solid rgb(222, 222, 222);
    padding : 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    grid-column: 1;
}
.delivery_date{
    font-size: 20px;
    font-weight: 700;
    color : rgb(0, 118, 0);
    margin-bottom: 20px;
}

.details-grid{
    display : grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 25px;
}
@media(max-width:1000px){
    .details-grid{
        grid-template-columns: 100px 1fr;
        row-gap: 30px;
    }
}
@media (max-width: 1000px) {
  .delivery-options {
    /* grid-column: 1 means this element will be placed
       in column 1 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering).
       
       / span 2 means this element will take up 2 columns
       in the grid (Normally, each element takes up 1
       column in the grid). */
    grid-column: 1 / span 2;
  }
}
.details{
    display : flex;
    flex-direction: column;
}
.image-section img{
   max-width: 100%;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
}
.details-section{
    display : flex;
    flex-direction: column;
}
.name{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.price{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    color : rgb(177, 39, 4);
}
.q_u_b{
    display : grid;
    grid-template-columns: 90px 80px 80px;
    align-items: center;
    justify-content: start;
}
@media(max-width : 490px){
    .q_u_b{
    grid-template-columns:  80px ;
    align-items: start;
    justify-content: start;
}
    .q_u_b button{
        margin-left: -23px;
    }
}
.quantity{
    font-size: 17px;
    flex-shrink: 0;
    white-space: nowrap;
}
.q_u_b button{
    background: none;
    border: none;
    outline: none;
    font-size: 17px;
    color : #017cb6;
    cursor : pointer;
    padding : 0px;
    margin-left : -10px;
}
.q_u_b button:hover{
    color: rgb(177, 39, 4);
}
.delivery-options{
    display : flex;
    flex-direction: column;
}
.title{
    font-size: 17px;
    font-weight: 700;
    flex-shrink: 0;
    white-space: nowrap;
}
.option{
    display:flex;
    margin : 10px 0px;
    font-size: 17px;;
}
.option input{
    width : 20px;
    margin-right:5px;
}
.option .date{
    color: rgb(0, 118, 0);;
    font-weight: 700;
    flex-shrink: 0;
}
.option .type{
    flex-shrink: 0;
    color : rgb(120, 120, 120);
}
.empty-button{
    font-size: 15px;
    padding : 8px 10px;
    border : none;
    border-radius: 5px;
    background-color: rgb(255, 216, 20);
    margin-top: 10px;
    cursor: pointer;
}
.empty-button:hover{
    opacity: 0.85;
}